{% extends 'base.html.twig' %}
{% block title %}MyCoffeeShop | Nos produits{% endblock title%}
{% block javascripts %}
    <script src="{{ asset('scripts/slider.js') }}"></script>
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
{% for product in products %}
{% set id = product.getId() %} {# Remplacez 123 par la valeur réelle de votre ID #}
{% set name = product.getName() %} {# Remplacez 'example-name' par la valeur réelle de votre nom #}


<div class="contain_slider">
  <div>
    <h1>{{ product.name }}</h1>
    <a href="{{ path('product', {'id': id, 'name': name}) }}">Voir plus</a>
  </div>
</div>
{% endfor %}
    
{% endblock body %}